body{
    padding: 0px;
    width: 80%;
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top{
    margin: 70px auto 0;
    background-color: #06a0a0;
    height: 40px;
    padding-top: 15px;
}
.top a{
    font-size: 20px;
    margin-bottom:10px;
    height: 30px;
    padding-left: 15px;
}
a{
    text-decoration: none;
}
#main{
    padding: 0;
    border-bottom: 1px s;
    padding-bottom: 15px;
}
img{
    border-radius: 500px;
    width: 400px;
    height: 300px;
    float: left;
}
.info{
    
}
#flot{
    padding-left: 420px;
    
}
#clear{
    clear: left;    
}
label{
    padding-top: 100px;
}
input{
    
    
    font-size: 20px;
    width: 25em;
    height: 30px;
    margin-left: 100px;
    margin-top: 20px;
}
select{
    margin-top: 20px;
    margin-left: 100px;
    width: 25em;
    height: 30px;
    font-size: 20px;
}
textarea{
    margin-top: 20px;
    margin-left: 90px;
    width: 25em;
    height: 150px;
    font-size: 20px;
}
.ln input{
    margin-left: 103px;
}
.mail input{
    margin-left: 132px;
}
.pass input{
    margin-left: 113px;
}
.selc select{
    margin-left: 123px;
}
.comm textarea{
    margin-left: 110px;
}
.subBtn{
    border-bottom: 1px dotted;
    padding-bottom: 15px;
    padding-left: 80px;
}
.foot{
    padding-top: 10px;
   margin-left: 600px;
    height: 40px;
}
.foot img{  
    width: 30px;
    height: 30px;
}
.foot1{
    padding-top: 10px;
    border-top: 1px dotted;
    text-align: center;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}
