body{
    width: 80%;
    margin-left: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top{
    margin: 70px auto 0;
    background-color: #06a0a0;
    height: 30px;
    padding-top: 15px;
    
}
.top a{
    font-size: 25px;
    padding-top: 15px;
    margin-bottom:0px;
    height: 30px;
    padding-left: 20px;
    margin-right: 0;
    padding-right: 20px;
}
a{
    text-decoration: none;
    color: bisque;
}
.top a:visited{
    background-color: darkorange;
}
.top a:hover{
    background-color: rgb(232, 109, 81);
}
a:active{
    background-color: rgb(247, 2, 2);
}

#main{
    padding: 0;
    border-bottom: 1px dotted;
    padding-bottom: 150px;
}
.img1{
    margin: 30px;
}
img{
    border-radius: 50%;
    width: 28%;
    height: 20em;
    float: left;
}
#flot{
    padding-left: 29%;
    margin: 10px 30px;
    
}
#clear{
    clear: left;
    
}
.hobby{
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}
.exp{
    float: left;
}
.exp1{
    padding-left: 100px;
    padding-top: 1px;
    border-bottom: 1px dotted;
    padding-bottom: 15px;
}
.skill{
    float: left;
}
.skill1{
    padding-left: 130px;
    padding-top: 1px;
    border-bottom: 1px dotted;
    padding-bottom: 15px;
}
.foot{
    padding-top: 10px;
   margin-left: 600px;
    height: 40px;
}
.foot img{  
    width: 30px;
    height: 30px;
}
.foot1{
    padding-top: 10px;
    border-top: 1px dotted;
    text-align: center;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}
